body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header{
  background-color: #404040;
  padding: 1rem;
}

header a{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
} */

.site-container{
  min-height: 100vh;
}

main{
  flex:1;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 
.product{
  border: 1px solid black;
  margin: 1rem;
}

.product img{
  width: 100%;
  max-width: 400px;
  height: 40vh;
}

.product_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.rating span{
  color: #FDCC0D;
}

.product_info .product_name{
  font-size:large;
}

.product_info button{
  padding: 0.50rem;
  border-radius: 10px;
}

.product_info button:hover{
  cursor: pointer;
}

footer{
  background-color: #1c2020;
  color: aliceblue;
  padding: 0.50rem;
}

.btn_primary,.outline-primary{
  background-color: #FDCC0D;
  color: black;
}

.cart_slug{
  text-decoration: none;
  color: black;
}

.small-container{
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}

.text-bold {
  font-weight: bold;
}

.icon_circle{
  font-size: larger;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.department_category{
  list-style: none;
  color: #100901;
}

.Star_Rating{
  background-color: #FDCC0D;
}

.product_image{
  border: 1px solid gray;
}

.product_image_card{
  border: 1px solid gray;
}

.row_Images{
  display: flex;
  
}